/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

:root {
  font-family: 'Comfortaa', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #eaa9f7c2;
}
